<div class="mt-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <% if @publication %>
            <p><a href="<%= pdf_profile_path %>" target="_blank">Download <%= @user.first_name %>'s story</a><span class="small"> <i data-feather="book-open" style="height: 14px;"></i>(PDF)</span></p>
            <p>When you download your booklet, you can share it with others by email or print.</p>
          <% else %>
            <h4><b><%= @user.first_name %> does not have story at this time.</b> Please come back later. <i data-feather="watch"></i></h4>

            <div>
              <p class="lead mt-4"><blockquote class="text-left" style="font-size:1.25rem">
              <%= link_to(asset_path("Soaring.pdf"), target: "_blank") do  %> 
                <%= image_tag("my-story-booklet-click-to-open.png", class: "mr-3 mb-3 float-left", id: "soaring-booklet", width: "231") %>
              <% end %>
              <b>In the meantime, you can read</b> <b class="text-danger">Susan's Story</b><br>
              I was thanking the van driver at the airport and as I tipped him I said I have this copy of my story of how I made the most important decision of my life when I came to know God personally. I showed him the booklet turned to the page with my story and asked him if he would like to have 
              the booklet. He said “yes and would there be any chance he could have a second booklet for his wife.</blockquote></p>
            </div>
          <% end %>
          
        </div>
      </div>
    </div>
  </div>
</div>