<div class="row vh-100">
  <div class="col-12 align-self-center mr-auto ml-auto" style="max-width: 480px;">
    <div class="card">
      <div class="card-body">
        <div class="text-center mb-5">
          <h3>Update Account Info</h3>
        </div>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => "form" }) do |f| %>
          <div class="mb-4">
            <%= render "devise/shared/error_messages", resource: resource %>
          </div>

          <div>
            <label class="font-weight-bold text-dark small">EMAIL ADDRESS</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i data-feather="mail"></i></span>
              </div>
              <%= f.email_field :email, autofocus: true, placeholder: "e.g. jane.doe@example.com", class: "form-control" %>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
          </div>

          <div class="mt-5">
            <label class="font-weight-bold text-dark small">USERNAME</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i data-feather="award"></i></span>
              </div>
              <%= f.text_field :username, placeholder: "e.g. jane_doe_21", class: "form-control" %>
            </div>
            <div>You can always change your username later.</div><br>
          </div>

          <div class="mt-5">
            <label class="font-weight-bold text-dark small">FIRST NAME</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i data-feather="user"></i></span>
              </div>
              <%= f.text_field :first_name, placeholder: "e.g. Jane", class: "form-control" %>
            </div>
          </div>

          <div class="mt-4">
            <label class="font-weight-bold text-dark small">LAST NAME</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i data-feather="user"></i></span>
              </div>
              <%= f.text_field :last_name, placeholder: "e.g. Doe", class: "form-control" %>
            </div>
          </div>

          <div class="mt-4">
            <label class="font-weight-bold text-dark small">COUNTRY</label>
            <div class="form-group">
              <%= f.select :country_of_residence, CountryList.all, { :prompt => "Country of Residence" }, { class: "form-control selectpicker", "data-live-search": "true" } %>
            </div>
          </div>

          <div class="mt-5">
            <p class="text-info">You must enter your current password to create a new password.</p>
            <label class="font-weight-bold text-dark small">CURRENT PASSWORD</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i data-feather="lock"></i></span>
              </div>
              <%= f.password_field :current_password, placeholder: "Password", class: "form-control" %>
            </div>
          </div>

          <div class="mt-5">
            <p>Leave these fields blank if you don't want to change your password.</p>
            <label class="font-weight-bold text-dark small">NEW PASSWORD</label>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i data-feather="lock"></i></span>
              </div>
              <%= f.password_field :password, class: "form-control", placeholder: "New Password" %>
            </div>
          </div>

          <div>
            <label class="font-weight-bold text-dark small">CONFIRM NEW PASSWORD</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i data-feather="lock"></i></span>
              </div>
              <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm New Password" %>
            </div>
          </div>

          <div class="mt-4">
            <%= f.submit("Update", class: "btn btn-primary w-100 py-2", style: "font-size: 16px;") %>
          </div>
        <% end %>

        <div class="mt-5 text-center"><%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %></div>
      </div>
    </div>
  </div>
</div>
