<%= form_with(model: story, id: "story") do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :language, value: "english" %>
  <%= f.hidden_field :status, value: "draft" %>

  <div class="form-group">
    <%= f.text_field :title, class: "form-control text-black font-weight-bold", id: "js-my-story-title", placeholder: "Story title e.g. Susan's Story" %>
  </div>

  <div class="form-group">
    <%= f.text_area :content, class: "form-control", id: "js-my-story-textarea", maxlength: "3000" %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  // TinyMCE initialization
  tinymce.init({
      selector: '#js-my-story-textarea',
      placeholder: 'Tell your story...',
      paste_as_text: true,
      plugins: "paste",
      paste_data_images: true,
      valid_elements: "p",
      menubar: '',
      toolbar: '',
      allow_conditional_comments: false,
      allow_html_in_named_anchor: false,
      convert_fonts_to_spans : false,

      init_instance_callback: function (editor) {
          // display save button on textarea change or keyup
          editor.on('Change', function (e) {
              showOrHideSaveButton();
            });
          editor.on('keyup', function(e) {
              showOrHideSaveButton();
              storyCounter(this);
            });
          // load character count on editor load
          editor.on('load', function(e) {
              $("#characterCounter span").html(tinymce.get("js-my-story-textarea").getContent().length);
            })
        }
    });

    // display save button when there's text in both input fields
    function showOrHideSaveButton() {
        var saveButton = $("#js-my-story-save-button");

        if (saveButton.length) {
            if (tinymce.get("js-my-story-textarea").getContent().length === 0 || $("#js-my-story-title").val().length ===0) {
                saveButton.attr("disabled", "disabled")
              } else {
                  saveButton.removeAttr("disabled");
                }
          }
      }

    // counts the number of characters in the text editor.
    function storyCounter(Editor) {
        var text = Editor.getContent();
        var textLength = text.length;
        var minCharacters = 2500;
        var maxCharacters = 3000;
        characterCounterDOM = $("#characterCounter span");

        // show current count
        characterCounterDOM.html(textLength)

        // write character length to DOM
        // display message for acceptable range
        // display message for exceeding acceptable range
      }

</script>
