<!--  BEGIN TOP BAR  -->
<div class="header-container">
  <header class="header navbar navbar-expand-sm">
    <%= link_to("javascript:void(0);", class: "sidebarCollapse", data: {placement: "bottom"}) do %>
      <i data-feather="menu"></i>
    <% end %>

    <div class="nav-logo align-self-center">
      <%= link_to("/", class: "navbar-brand") do %>
        <span class="navbar-brand-name">My Story Booklet</span>
      <% end %>
    </div>

    <ul class="navbar-item flex-row mr-auto"></ul>

    <ul class="navbar-item flex-row nav-dropdowns">
      <li class="nav-item dropdown language-dropdown more-dropdown">
        <div class="dropdown custom-dropdown-icon">
          <%= link_to("javascript:void(0);", class: "dropdown-toggle btn", role: "button", data: {toggle: "dropdown"}, style: "cursor: default;") do %>
            <%= image_tag("cork/us.png", class: "flag-width") %>
          <% end %>
        </div>
      </li>

      <%= display_top_navigation_user_links %>
    </ul>
  </header>
</div>
<!--  END TOP BAR  -->