<div class="row vh-100">
  <div class="col-12 align-self-center mr-auto ml-auto" style="max-width: 480px;">
    <div class="card">
      <div class="card-body">
        <div class="text-center mb-5">
          <h1>Sign In</h1>
          <p>Log in to your account to continue.</p>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div>
            <label class="font-weight-bold text-dark small">EMAIL ADDRESS</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i data-feather="user"></i></span>
              </div>
              <%= f.email_field :email, autofocus: true, placeholder: "e.g. Jane Doe", class: "form-control" %>
            </div>
            <small class="form-text text-muted">We'll never share your email with another organization.</small>
          </div>

          <div class="mt-4">
            <label class="font-weight-bold text-dark small">PASSWORD</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i data-feather="lock"></i></span>
              </div>
              <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
            </div>
          </div>

          <div class="form-group form-check pl-0">
            <div class="custom-control custom-checkbox checkbox-info">
              <%= f.check_box :remember_me, class: "custom-control-input", id: "remember-me" %>
              <label class="custom-control-label" for="remember-me">Remember me</label>
            </div>
          </div>

          <div>
            <%= f.submit("Log In", class: "btn btn-primary w-100 py-2", style: "font-size: 16px;") %>
          </div>

          <div class="mt-5 text-center">
            <%= render("devise/shared/links") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>